VOLCENGINE_APP_ID=你的AppID
VOLCENGINE_TOKEN=你的Token
LLM_API_KEY=你的APIKey
LLM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
LLM_MODEL=doubao-pro-32k
OBSIDIAN_VAULT_PATH=C:\Users\你\Documents\Obsidian\MyVault\Meetings
